---
import '@global/global.scss'
import { LOCALE } from '@global/constants'
import Head, { type HeadProps } from './Head.astro'
import sanityFetch from '@utils/sanity.fetch'
import { ImageDataQuery, type ImageDataProps } from '@components/ui/Image'
import Header from '@components/global/Header.astro'
import Footer from '@components/global/Footer.astro'
import SmoothScroll from './smooth-scroll.astro'

type Props = HeadProps

const { ...props } = Astro.props

export type feauturedProjectsProps = {
  img: ImageDataProps
  name: string
  slug: string
}

const feauturedProjects = await sanityFetch<feauturedProjectsProps[]>({
  query: `
    *[_type == "global"][0].feauturedProjects[] -> {
      ${ImageDataQuery('img')}
      name,
      "slug": slug.current,
    }
  `,
})
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <Head {...props} />
    <script is:inline src="https://analytics.ahrefs.com/analytics.js" data-key="aXa2hx1VgC/dy7pJ+MCH0A" async></script>
  </head>
  <body>
    <Header feauturedProjects={feauturedProjects} />
    <main id="main">
      <slot />
    </main>
    <Footer feauturedProjects={feauturedProjects} />
    <SmoothScroll />
  </body>
</html>
