---
import '@/global/global.scss'
import { LOCALE } from '@/global/constants'
import Head, { type Props as HeadProps } from './Head.astro'
import Header from '@/components/global/Header.astro'
import SmoothScroll from './smooth-scroll.astro'

type Props = HeadProps
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <Head {...Astro.props} />
  </head>
  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
    <SmoothScroll />
  </body>
</html>
