---
import PortableText, { PortableTextQuery, type PortableTextValue } from '@/components/ui/portable-text'
import Image, { ImageDataQuery, type ImageDataProps } from '@/src/components/ui/Image'
import Accordion from '@/components/ui/Accordion.astro'

export const FeatureAccordionSection_Query = `
  _type == "FeatureAccordionSection" => {
    ${ImageDataQuery('img')}
    ${PortableTextQuery('heading')}
    list[] {
      ${PortableTextQuery('title')}
      ${PortableTextQuery('description')}
    }
  },
`
export type Props = {
  index: number
  img: ImageDataProps
  heading: PortableTextValue
  list: {
    title: PortableTextValue
    description: PortableTextValue
  }[]
}

const { index, img, heading, list } = Astro.props
---

<section class="FeatureAccordionSection">
  <Image {...img} sizes="(max-width: 56rem) 298px, 45vw" priority={index === 0} />
  <div class="content">
    <PortableText value={heading} heading={index === 0 ? 'h1' : 'h2'} class="heading" />
    {
      list?.map(({ title, description }, i) => (
        <Accordion summary={title} class="accordion" open={i === 0}>
          <PortableText value={description} />
        </Accordion>
      ))
    }
  </div>
</section>

<style lang="scss">
  .FeatureAccordionSection {
    padding: clamp(3rem, calc(4vw / 0.48), 6rem) 0;
    display: grid;
    align-items: flex-start;
    gap: clamp(2rem, calc(3vw / 0.48), 3rem) clamp(5rem, calc(5vw / 0.48), 8rem);
    grid-template-columns: 1fr 1fr;
    padding-right: 7rem;
    .heading {
      margin-bottom: clamp(calc(32rem / 16), calc(48vw / 7.68), calc(48rem / 16));
    }
    .accordion {
      &:not(:last-child) {
        margin-bottom: clamp(calc(24rem / 16), calc(48vw / 7.68), calc(48rem / 16));
      }
    }
    @media (max-width: 69rem) {
      padding-right: 0;
    }
    @media (max-width: 56rem) {
      grid-template-columns: 1fr;
      img {
        width: 298px;
      }
    }
    .content {
      max-width: calc(608rem / 16);
    }
  }
</style>
