---
import type { feauturedProjectsProps } from '@/src/layouts/Layout.astro'
import Button from '@/src/components/ui/Button'
import Image from '@/components/ui/Image'

const { feauturedProjects } = Astro.props as { feauturedProjects: feauturedProjectsProps[] }
---

<a href="#main" class="skip-link">Przejdź do treści</a>
<a href="/" aria-label="Strona główna" class="logo">
  <svg xmlns="http://www.w3.org/2000/svg" width="107" height="24" viewBox="0 0 107 24" fill="#C8B888">
    <title>Lidenskap</title>
    <path
      d="M30.74 5.894a1.277 1.277 0 0 1-.388-.955 1.285 1.285 0 0 1 .399-.974 1.439 1.439 0 0 1 1.033-.377c.45 0 .814.125 1.093.377a1.254 1.254 0 0 1 .417.974 1.23 1.23 0 0 1-.418.955c-.278.251-.642.377-1.093.378-.435 0-.783-.126-1.043-.378Zm-.186 1.766h2.465V18h-2.465V7.66ZM36.728 17.831a4.053 4.053 0 0 1-1.461-1.053 4.987 4.987 0 0 1-.945-1.61 5.95 5.95 0 0 1-.338-2.058v-.556a6.033 6.033 0 0 1 .338-2.069c.208-.592.528-1.139.945-1.61a4.115 4.115 0 0 1 1.461-1.043 4.624 4.624 0 0 1 1.849-.369h.178a4.512 4.512 0 0 1 1.7.307c.511.208.975.518 1.362.91V3.688h2.465V18h-1.948a3.676 3.676 0 0 1-.179-.566 5.766 5.766 0 0 1-.12-.646v-.02a3.966 3.966 0 0 1-1.42 1.053 4.549 4.549 0 0 1-1.88.378h-.158a4.622 4.622 0 0 1-1.849-.368Zm2.544-1.6c.365.004.726-.078 1.054-.239.317-.157.596-.38.817-.656.235-.298.41-.639.517-1.003.123-.417.183-.85.179-1.283v-.497a4.056 4.056 0 0 0-.19-1.272 2.99 2.99 0 0 0-.525-.985 2.445 2.445 0 0 0-.806-.636 2.35 2.35 0 0 0-1.044-.228h-.16a2.29 2.29 0 0 0-1.837.864c-.23.295-.406.628-.517.985-.13.411-.194.841-.19 1.272v.497c-.003.438.06.874.19 1.293.108.364.283.704.517 1.004.215.27.487.49.795.645a2.25 2.25 0 0 0 1.043.24h.157ZM48.102 17.821a4.847 4.847 0 0 1-1.61-1.044 4.538 4.538 0 0 1-1.045-1.61 5.684 5.684 0 0 1-.368-2.077v-.398c-.009-.72.12-1.435.378-2.107a5.076 5.076 0 0 1 1.021-1.64 4.54 4.54 0 0 1 1.57-1.073 5.2 5.2 0 0 1 2.038-.388h.24a4.913 4.913 0 0 1 1.868.348 4.25 4.25 0 0 1 2.416 2.485c.226.621.337 1.279.327 1.94v1.352h-7.395c.036.357.127.705.269 1.034.128.303.321.574.566.794.251.222.54.395.855.511.35.129.72.192 1.093.188h.205a3.242 3.242 0 0 0 1.62-.388c.44-.243.828-.571 1.142-.964l1.373 1.491a5.465 5.465 0 0 1-.855.796 5.29 5.29 0 0 1-1.014.596c-.366.161-.745.29-1.134.387-.396.1-.803.15-1.212.15h-.279a5.462 5.462 0 0 1-2.069-.383Zm4.513-5.884v-.04a3.52 3.52 0 0 0-.224-1.034 2.5 2.5 0 0 0-.477-.785 1.923 1.923 0 0 0-.714-.496 2.472 2.472 0 0 0-.934-.17h-.18a2.315 2.315 0 0 0-1.67.676c-.221.228-.4.494-.526.785-.148.34-.25.698-.307 1.064h5.032ZM55.733 7.66h1.928c.088.232.157.47.204.714.056.25.092.502.11.756a4.8 4.8 0 0 1 1.57-1.225 4.507 4.507 0 0 1 2.008-.448h.102c1.14 0 2.011.338 2.615 1.014.603.677.905 1.644.905 2.903v6.62h-2.469v-6.097c0-.755-.152-1.325-.457-1.71-.305-.385-.79-.577-1.452-.576h-.118a2.51 2.51 0 0 0-1.014.204 2.269 2.269 0 0 0-.785.557c-.226.25-.402.54-.517.855-.13.362-.193.745-.185 1.13v5.646h-2.445V7.66ZM67.831 17.821a6.964 6.964 0 0 1-2.098-1.113l1.233-1.79c.221.21.468.39.735.538a5.944 5.944 0 0 0 1.73.626c.295.058.595.089.895.09.237.002.474-.02.706-.07a1.43 1.43 0 0 0 .51-.204.948.948 0 0 0 .307-.357c.073-.149.11-.312.11-.477a.844.844 0 0 0-.205-.607 1.6 1.6 0 0 0-.586-.358 8.533 8.533 0 0 0-.935-.288c-.421-.11-.836-.243-1.243-.398a10.48 10.48 0 0 1-1.03-.34 3.768 3.768 0 0 1-.935-.518 2.232 2.232 0 0 1-.655-.805 2.61 2.61 0 0 1-.24-1.162c-.007-.451.081-.899.26-1.313.168-.379.423-.713.745-.974a3.654 3.654 0 0 1 1.188-.628 4.953 4.953 0 0 1 1.55-.229c.728 0 1.45.12 2.137.357a7.329 7.329 0 0 1 1.86.935l-1.155 1.75a5.583 5.583 0 0 0-1.392-.726 4.548 4.548 0 0 0-1.532-.268c-.2-.003-.4.017-.596.059a1.205 1.205 0 0 0-.438.189.951.951 0 0 0-.278.306.889.889 0 0 0-.103.437.714.714 0 0 0 .205.527c.155.15.332.274.527.368a3.3 3.3 0 0 0 .755.258c.291.067.597.14.92.219.408.093.826.21 1.253.348.406.132.79.322 1.142.563.335.229.617.527.826.875.211.351.317.805.317 1.361.008.462-.087.919-.278 1.338a2.79 2.79 0 0 1-.786.994c-.371.29-.792.509-1.243.646a5.253 5.253 0 0 1-1.634.24 7.956 7.956 0 0 1-2.549-.399ZM75.038 3.687h2.464v8.33h.16l3.797-4.357h2.763l-4.353 4.79 4.473 5.547h-2.947l-3.737-4.91h-.16v4.91h-2.46V3.687Z">
    </path>
    <path
      d="M85.799 17.98c-.401-.132-.773-.34-1.094-.612a2.704 2.704 0 0 1-.706-.965 3.107 3.107 0 0 1-.248-1.263v-.198c0-1.113.476-1.945 1.43-2.495.953-.55 2.424-.825 4.413-.825h.835v-.437c0-.53-.166-.947-.497-1.253-.332-.306-.816-.458-1.452-.457h-.12a4.93 4.93 0 0 0-1.56.268 6.326 6.326 0 0 0-1.56.785l-.974-1.75a8.118 8.118 0 0 1 2.042-.963 7.408 7.408 0 0 1 2.237-.352h.18c1.27 0 2.261.329 2.971.985.71.656 1.065 1.575 1.064 2.757v4.673c0 .367.036.733.109 1.092.07.35.16.695.268 1.034h-2.346a1.816 1.816 0 0 1-.178-.546 12.96 12.96 0 0 1-.102-.646A4.8 4.8 0 0 1 89 17.833a4.58 4.58 0 0 1-1.83.368 4.189 4.189 0 0 1-1.373-.22Zm3.408-2.106a3.755 3.755 0 0 0 1.226-.935v-1.73h-.613c-1.272 0-2.206.13-2.802.388-.596.259-.894.667-.895 1.226v.102c-.004.182.037.363.119.527a1.359 1.359 0 0 0 .835.676c.207.06.421.09.636.09.518 0 1.029-.119 1.495-.344ZM93.734 7.66h1.949c.073.186.13.38.168.577.046.224.083.444.11.655.398-.45.89-.81 1.44-1.054a4.518 4.518 0 0 1 1.86-.378h.179a4.556 4.556 0 0 1 1.838.37c.564.244 1.205.593 1.61 1.043.416.47.737 1.017.944 1.61.233.664.347 1.364.338 2.067v.557c.01.7-.105 1.397-.338 2.058a4.995 4.995 0 0 1-.944 1.61c-.409.457-1.046.808-1.61 1.053a4.556 4.556 0 0 1-1.838.368h-.179a4.518 4.518 0 0 1-1.7-.306 4.04 4.04 0 0 1-1.357-.903v4.99h-2.47V7.66Zm5.169 8.568c.362.005.72-.077 1.043-.239.309-.156.58-.376.796-.645.233-.3.408-.64.517-1.004a4.29 4.29 0 0 0 .189-1.293v-.497a4.127 4.127 0 0 0-.189-1.272 3.117 3.117 0 0 0-.517-.985 2.285 2.285 0 0 0-1.838-.863h-.16a2.35 2.35 0 0 0-1.043.227 2.383 2.383 0 0 0-.805.647 3.103 3.103 0 0 0-.527.984c-.13.408-.194.834-.19 1.262v.497c-.001.44.067.876.205 1.293.115.365.297.705.537 1.004.219.267.489.486.795.645a2.2 2.2 0 0 0 1.033.24h.154ZM25.9 17.405c-.417-.465-.626-1.214-.627-2.247V3.687h2.466V14.7c0 .504.073.845.218 1.022.146.177.378.266.696.267.176 0 .352-.01.527-.03.165-.014.328-.044.487-.088v1.907a4.15 4.15 0 0 1-.924.24 6.71 6.71 0 0 1-1.004.079c-.81.002-1.422-.229-1.84-.692Z">
    </path>
    <path d="m25.274 5.078-.9-.767v-.624h.9v1.39Z"></path>
    <path
      d="M24.233 3.687h1.123v.624h-.987a1.686 1.686 0 0 1-.085-.292c-.02-.114-.039-.225-.051-.332ZM14.282 12.684l2.01-2.01-2.01-2.008 1.614-1.617 3.45 3.448v.355l-3.45 3.448-1.614-1.616Z">
    </path>
    <path
      d="M19.232 10.544v.261l-3.336 3.335-1.454-1.456 1.973-1.973v-.073l-1.973-1.973 1.454-1.456 3.336 3.335ZM10.516 19.326l-3.448-3.45 1.616-1.612 2.01 2.008 2.01-2.008 1.613 1.613-3.445 3.449h-.356Z">
    </path>
    <path
      d="m12.704 14.425 1.454 1.452-3.334 3.336h-.261l-3.334-3.336 1.455-1.452 1.973 1.97h.073l1.974-1.97ZM10.694 5.076l-2.01 2.01-1.616-1.617 3.448-3.446h.356l3.445 3.446-1.613 1.617-2.01-2.01Z">
    </path>
    <path
      d="m10.824 2.136 3.334 3.333-1.454 1.456-1.974-1.973h-.073L8.684 6.925 7.229 5.47l3.334-3.333h.261ZM2.042 10.852v-.355l3.446-3.448 1.616 1.615-2.01 2.01 2.01 2.01L5.488 14.3l-3.446-3.448Z">
    </path>
    <path d="M4.971 10.638v.073l1.974 1.973-1.457 1.456-3.332-3.335v-.261l3.332-3.335 1.457 1.456-1.974 1.973Z"></path>
  </svg>
</a>
<header class="header" data-component="Header" aria-expanded="false">
  <div class="max-width">
    <nav data-lenis-prevent>
      <ul>
        <li class="dropdown-item">
          <span>Realizacje</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" class="dropdown-icon">
            <path stroke="#0C2D63" stroke-linecap="round" stroke-linejoin="round" d="m4 6 4 4 4-4"></path>
          </svg>
          <ul class="dropdown">
            {
              feauturedProjects?.map(({ img, name, slug }) => (
                <li class="dropdown-item-img">
                  <a href={slug}>
                    <Image {...img} sizes="36px" loading="eager" />
                    {name}
                  </a>
                </li>
              ))
            }
            <li class="main-link">
              <a href="/realizacje">Zobacz wszystkie realizacje</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/inwestycje">Inwestycje</a>
        </li>
        <li>
          <a href="/o-lidenskap">O lidenskap</a>
        </li>
      </ul>
    </nav>
    <Button theme="primary" linkType="internal" href="/kontakt" className="cta">Kontakt</Button>
    <button class="nav-toggle" aria-label="Otwórz menu"><div></div><div></div><div></div></button>
  </div>
</header>
<div class="overlay" role="button" aria-hidden="true" aria-label="Zamknij menu"></div>

<style lang="scss">
  $nav-max-breakpoint: 899px;
  $header-height: 3.75rem;
  .skip-link {
    border: 1px solid var(--primary-700, #ad6116);
    background-color: var(--primary-300, #f4efe8);
    padding: 0.5rem 1rem;
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 13;
    opacity: 0;
    pointer-events: none;
    &:focus {
      opacity: 1;
    }
  }
  .logo {
    position: fixed;
    left: var(--page-margin);
    top: calc(($header-height / 2) - clamp(10px, calc(12vw / 7.68), 12px));
    mix-blend-mode: difference;
    z-index: 10;
    svg {
      width: clamp(89px, calc(106vw / 7.68), 106px);
    }
    @media (min-width: 90.25rem) {
      left: calc((100vw - 86.25rem) / 2);
    }
  }
  header {
    position: sticky;
    top: 0;
    z-index: 9;
    height: $header-height;
    pointer-events: none;
    .cta {
      width: auto;
      pointer-events: auto;
    }
    & > .max-width {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  nav {
    font-size: calc(14rem / 16);
    margin-left: auto;
    margin-right: clamp(32px, calc(48vw / 7.68), 48px);
    border: 1px solid var(--primary-300, #f4efe8);
    background: var(--primary-100, #fffefd);
    padding: 0 16px;
    pointer-events: auto;
    @media (min-width: $nav-max-breakpoint + 1) {
      height: auto !important;
    }
    > ul {
      display: flex;
      align-items: center;
      gap: clamp(8px, calc(24vw / 7.68), 24px);
      > li {
        display: flex;
        align-items: center;
        height: 2.75rem;
        &.dropdown-item {
          padding: 0 8px;
          .dropdown-icon {
            display: inline-block;
            vertical-align: middle;
          }
          position: relative;
          .dropdown {
            min-width: calc(267rem / 16);
            position: absolute;
            width: max-content;
            left: 0;
            top: 100%;
            border: 1px solid var(--primary-300, #f4efe8);
            background: var(--primary-100, #fffefd);
            opacity: 0;
            transform: translateY(-3px);
            pointer-events: none;
            transition: none;
          }
          .dropdown-item-img {
            a {
              display: flex;
              align-items: center;
              gap: calc(8rem / 16);
            }
            img {
              width: 36px;
              height: 36px;
              object-fit: cover;
              margin: 0.5rem 0;
            }
          }
          .main-link {
            border-top: 1px solid var(--primary-300, #f4efe8);
          }
          &:hover,
          &:focus-within {
            .dropdown {
              transform: translateY(0);
              opacity: 1;
              pointer-events: auto;
              transition:
                transform 500ms var(--easing),
                visibility 500ms var(--easing);
            }
          }
        }
        a {
          padding: 0 calc(8rem / 16);
          display: flex;
          align-items: center;
          min-height: 2.75rem;
          transition: opacity 300ms var(--easing);
          &:hover {
            opacity: 0.62;
          }
        }
      }
    }
  }
  @media (max-width: $nav-max-breakpoint) {
    header {
      pointer-events: auto;
      background-color: var(--primary-100, #fffefd);
      padding-left: clamp(89px, calc(106vw / 7.68), 106px);
      .cta {
        margin: auto;
      }
    }
    nav {
      font-size: 1rem;
      height: 0;
      transition: height 500ms var(--easing);
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin-right: 0;
      border: 0;
      border-top: 1px solid var(--primary-300, #f4efe8);
      background: var(--primary-100, #fffefd);
      padding: 0 var(--page-margin);
      max-height: calc(100vh - clamp(calc(52rem / 16), calc(60vw / 7.68), calc(60rem / 16)));
      overflow-y: auto;
      > ul {
        padding: 16px 0 32px;
        flex-direction: column;
        align-items: stretch;
        gap: clamp(8px, calc(24vw / 7.68), 24px);
        > li {
          display: block;
          align-items: center;
          height: unset;
          &.dropdown-item {
            & > span {
              font-size: calc(14rem / 16);
            }
            .dropdown-icon {
              display: none;
            }
            .dropdown {
              min-width: unset;
              position: static;
              width: 100%;
              border: none;
              background: none;
              opacity: 1;
              transform: translateY(0);
              pointer-events: auto;
              transition: none;
            }
            .main-link {
              padding-top: 0.25rem;
            }
          }
        }
      }
    }
  }
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.38);
    backdrop-filter: blur(4px);
    z-index: 8;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms var(--easing);
    @media (min-width: $nav-max-breakpoint + 1) {
      display: none;
    }
  }
  .nav-toggle {
    display: grid;
    gap: 5px;
    padding: 16px 12px;
    margin: 0 -12px;
    @media (min-width: $nav-max-breakpoint + 1) {
      display: none;
    }
    div {
      width: 24px;
      height: 2px;
      border-radius: 4px;
      background: var(--secondary-800, #0b2348);
      transition: transform 500ms var(--easing);
    }
  }
  .header[aria-expanded='true'] {
    .nav-toggle {
      div {
        &:nth-child(1) {
          transform: translateY(7px) rotate(-135deg);
        }
        &:nth-child(2) {
          transform: scaleX(0);
        }
        &:nth-child(3) {
          transform: translateY(-7px) rotate(135deg);
        }
      }
    }
    & + .overlay {
      opacity: 1;
      pointer-events: auto;
    }
  }
</style>

<script>
  const header = document.querySelector<HTMLDivElement>('.header[data-component="Header"]')!
  const nav = header.querySelector<HTMLElement>('nav')!
  const navToggle = header.querySelector<HTMLButtonElement>('.nav-toggle')!
  const overlay = header.nextElementSibling!

  navToggle.addEventListener('click', () => {
    const isExpanded = header.getAttribute('aria-expanded') === 'true'
    header.setAttribute('aria-expanded', String(!isExpanded))
    navToggle.setAttribute('aria-label', isExpanded ? 'Otwórz menu' : 'Zamknij menu')
    const navHeight = nav.scrollHeight + 2
    nav.style.height = `${isExpanded ? 0 : navHeight}px`
  })
  overlay.addEventListener('click', () => {
    header.setAttribute('aria-expanded', 'false')
    nav.style.height = '0'
  })
  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape') {
      header.setAttribute('aria-expanded', 'false')
      nav.style.height = '0'
    }
  })
</script>
