---
import PortableText, { PortableTextQuery, type PortableTextValue } from '@/src/components/ui/PortableText'
import Image, { ImageDataQuery, type ImageDataProps } from '@/src/components/ui/Image'
import CountUp from '@/components/ui/CountUp.astro'

export const MetricsSection_Query = `
  _type == "MetricsSection" => {
    ${PortableTextQuery('heading')}
    ${PortableTextQuery('paragraph')}
    metrics[] {
      value,
      label,
      ${ImageDataQuery('icon')}
    },
    ${ImageDataQuery('images[]')}
  },
`

export type Props = {
  index: number
  heading: PortableTextValue
  paragraph: PortableTextValue
  metrics: {
    value: string
    label: string
    icon: ImageDataProps
  }[]
  images: ImageDataProps[]
}

const { index, heading, paragraph, metrics, images } = Astro.props
---

<section class="MetricsSection">
  <header>
    <PortableText value={heading} heading={index === 0 ? 'h1' : 'h2'} class="heading" />
    <PortableText value={paragraph} class="paragraph" />
  </header>
  <div class="column">
    <ul class="images">
      {
        images.map((img) => (
          <li>
            <Image {...img} sizes="(max-width: calc(1149rem / 16)) 25vw, 20vw" />
          </li>
        ))
      }
    </ul>
    <ul class="metrics">
      {
        metrics.map(({ value, label, icon }) => (
          <li>
            <div class="wrapper">
              <CountUp class="value">{value}</CountUp>
              <Image {...icon} sizes="28px" />
            </div>
            <p class="label">{label}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  .MetricsSection {
    padding: clamp(3rem, calc(4vw / 0.48), 5rem) 0;
  }
  header {
    display: grid;
    justify-content: flex-start;
    gap: 1rem clamp(3rem, calc(4vw / 0.48), 7rem);
    margin-bottom: clamp(1rem, calc(2vw / 0.48), 3rem);
    max-width: 54rem;
    @media (min-width: 62.5rem) {
      max-width: unset;
      grid-template-columns: auto auto;
      .heading {
        max-width: calc(360rem / 16);
      }
      .paragraph {
        max-width: calc(426rem / 16);
      }
    }
  }
  .column {
    display: grid;
    align-items: flex-end;
    gap: clamp(calc(48rem / 16), calc(64vw / 7.68), calc(82rem / 16));
    @media (min-width: calc(1150rem / 16)) {
      grid-template-columns: 2.6fr 1fr;
    }
  }
  .images {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(calc(8rem / 16), calc(16vw / 7.68), 1rem);
    @media (max-width: calc(1149rem / 16)) {
      max-width: calc(928rem / 16);
    }
    @media (max-width: calc(899rem / 16)) {
      margin: 0 calc(var(--page-margin) * -1);
    }
  }
  .metrics {
    display: grid;
    gap: clamp(calc(28rem / 16), calc(32vw / 7.68), calc(40rem / 16));
    @media (min-width: calc(600rem / 16)) and (max-width: calc(1149rem / 16)) {
      max-width: calc(928rem / 16);
      grid-template-columns: 1fr 1fr;
    }
    .wrapper {
      font-size: clamp(1.5rem, calc(2vw / 0.48), 2rem);
      display: grid;
      grid-template-columns: auto 28px;
      gap: 1rem;
      font-variant-numeric: lining-nums tabular-nums;
      .value {
        font-weight: 400;
      }
      margin-bottom: 0.5rem;
    }
    .label {
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    img {
      width: 28px;
      height: 28px;
    }
  }
</style>
