---
import PortableText, { PortableTextQuery, type PortableTextValue } from '@/src/components/ui/PortableText'
import Button, { ButtonDataQuery, type ButtonDataProps } from '@/src/components/ui/Button'

export const SimpleCtaSection_Query = `
  _type == "SimpleCtaSection" => {
    ${PortableTextQuery('name')}
    ${PortableTextQuery('text')}
    ${ButtonDataQuery('cta')}
  },
`

export type Props = {
  index: number
  name: PortableTextValue
  text: PortableTextValue
  cta: ButtonDataProps
}

const { index, name, text, cta } = Astro.props
---

<section class="SimpleCtaSection sec-wo-margin">
  <div class="max-width">
    <PortableText value={name} class="h2" />
    <header>
      <PortableText value={text} heading={index === 0 ? 'h1' : 'h2'} class="h2" />
      <Button {...cta} className="cta" />
    </header>
  </div>
</section>

<style lang="scss">
  .SimpleCtaSection {
    margin-top: clamp(3rem, calc(4vw / 0.48), 5rem);
    margin-bottom: clamp(3rem, calc(4vw / 0.48), 5rem);
    padding: clamp(3rem, calc(4vw / 0.48), 5rem) 0;
    background: var(--primary-300, #f4efe8);
    .max-width {
      max-width: 63rem;
      display: grid;
      gap: clamp(2rem, calc(4vw / 0.48), 3rem) clamp(2.625rem, calc(3.5vw / 0.48), 3.5rem);
      @media (min-width: calc(1000rem / 16)) {
        grid-template-columns: 1fr 3.6fr;
      }
    }
  }
  .cta {
    margin-top: 2rem;
  }
</style>
