@font-face {
  font-family: 'Fixel';
  src:
    url('/fonts/FixelDisplay-Regular.woff2') format('woff2'),
    url('/fonts/FixelDisplay-Regular.woff') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Fixel';
  src:
    url('/fonts/FixelDisplay-SemiBold.woff2') format('woff2'),
    url('/fonts/FixelDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-100: #fffefd;
  --primary-300: #f4efe8;
  --primary-700: #ad6116;
  --primary-800: #9c5712;

  --secondary-100: #dee1e6;
  --secondary-200: #c0c7db;
  --secondary-300: #7d8fc1;
  --secondary-500: #374776;
  --secondary-700: #0c2d63;
  --secondary-800: #0b2348;
  --secondary-900: #122441;

  --error-500: #c8452e;

  --success-500: #298441;

  --visited-500: #713776;

  --easing: cubic-bezier(0.17, 0.84, 0.44, 1);

  // Margins
  --page-margin: clamp(1rem, calc(2vw / 0.48), 2rem);
  @media (max-width: 56rem) and (min-width: 38rem) {
    --page-margin: clamp(2rem, calc(5vw / 0.48), 5rem);
  }
}

svg {
  max-width: 100%;
  display: block;
  height: auto;
}
canvas {
  touch-action: pan-y;
}
a {
  text-decoration: none;
  color: inherit;
}
label {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
::placeholder {
  color: inherit;
}
sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}
ul,
ol {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
picture,
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid var(--secondary-700, #0c2d63);
  outline-offset: 3px;
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-padding-top: 123px;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}
body {
  overflow: clip;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-100, #fffcf9);
  color: var(--secondary-700, #0c2d63);
  font-family: 'Fixel', sans-serif;
  font-size: 1rem;
  line-height: 1.65;
  letter-spacing: 0.005rem;
}

main,
.max-width {
  max-width: 86.25rem;
  width: calc(100% - var(--page-margin) * 2);
  margin: 0 auto;
  height: 100%;
}
main {
  & > section:first-of-type {
    padding-top: 2rem !important;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  font-weight: 400;
  line-height: 1.35;
  color: var(--secondary-700, #0c2d63);
  font-variant-numeric: lining-nums tabular-nums;
  strong {
    font-weight: 600;
  }
}
h1,
.h1 {
  font-size: clamp(1.75rem, calc(2.5vw / 0.48), 2.5rem);
  letter-spacing: -0.06em;
}
h2,
.h2 {
  font-size: clamp(1.5rem, calc(2vw / 0.48), 2rem);
  letter-spacing: -0.04em;
}
h3,
.h3 {
  font-size: clamp(1.25rem, calc(1.5vw / 0.48), 1.5rem);
  letter-spacing: -0.06em;
}

.link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  transition: background-size 500ms var(--easing);
  padding-bottom: 1px;
  margin-bottom: -1px;
  &:hover {
    background-size: 80% 1px;
  }
  &:active {
    background-size: 100% 1px;
  }
  &[target='_blank'] {
    &::after {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjQzBDN0RCIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xMC41IDJINy4xMjVNMTAuNSAydjMuMzc1TTEwLjUgMiA2LjM3NSA2LjEyNU00LjcgMmMtMS4xMiAwLTEuNjggMC0yLjEwOC4yMThhMiAyIDAgMCAwLS44NzQuODc0QzEuNSAzLjUyIDEuNSA0LjA4IDEuNSA1LjJ2Mi42YzAgMS4xMiAwIDEuNjguMjE4IDIuMTA4YTIgMiAwIDAgMCAuODc0Ljg3NEMzLjAyIDExIDMuNTggMTEgNC43IDExaDIuNmMxLjEyIDAgMS42OCAwIDIuMTA4LS4yMThhMiAyIDAgMCAwIC44NzQtLjg3NGMuMjE4LS40MjguMjE4LS45ODguMjE4LTIuMTA4di0uNTUiLz48L3N2Zz4=');
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      margin-right: -12px;
    }
  }
}

.sec-wo-margin {
  margin-left: calc(var(--page-margin) * -1);
  margin-right: calc(var(--page-margin) * -1);
  @media (min-width: 90.25rem) {
    margin-left: calc((100vw - 86.25rem) / -2);
    margin-right: calc((100vw - 86.25rem) / -2);
  }
}

.ordered-list,
.unordered-list {
  display: grid;
  gap: 0.5rem;
}
.unordered-list {
  li {
    padding-left: 18px;
    position: relative;
    &::before {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMyIgZmlsbD0iIzBGOTI4OCI+PHBhdGggZD0iTTUgLjgwMmMtLjM2NSAwLS42NDcuMTUyLS45MDQuMzg1LS4yMzUuMjE0LS40NzcuNTIzLS43NjIuODg2bC0uMDIuMDI1Yy0uNTgzLjc0My0xLjI0OCAxLjY2My0xLjc2OSAyLjU4NC0uNTEyLjkwNy0uOTIgMS44NzMtLjkyIDIuNjkzIDAgMi41NTggMS45MzMgNC42OCA0LjM3NSA0LjY4czQuMzc1LTIuMTIyIDQuMzc1LTQuNjhjMC0uODItLjQwOC0xLjc4Ni0uOTItMi42OTMtLjUyMS0uOTIxLTEuMTg2LTEuODQtMS43Ny0yLjU4NGwtLjAxOS0uMDI1Yy0uMjg1LS4zNjMtLjUyNy0uNjcyLS43NjItLjg4NkM1LjY0Ny45NTQgNS4zNjQuODAyIDUgLjgwMloiLz48L3N2Zz4=');
      width: 10px;
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}
.ordered-list {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.cta-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(0.75rem, calc(16vw / 0.48), 1rem);
}
