@font-face {
  font-family: 'Fixel';
  src:
    url('/fonts/FixelDisplay-Regular.woff2') format('woff2'),
    url('/fonts/FixelDisplay-Regular.woff') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Fixel';
  src:
    url('/fonts/FixelDisplay-SemiBold.woff2') format('woff2'),
    url('/fonts/FixelDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-100: #fffefd;
  --primary-300: #f4efe8;
  --primary-700: #ad6116;
  --primary-800: #9c5712;

  --secondary-100: #dee1e6;
  --secondary-200: #c0c7db;
  --secondary-300: #7d8fc1;
  --secondary-500: #374776;
  --secondary-700: #0c2d63;
  --secondary-800: #0b2348;
  --secondary-900: #122441;

  --error-500: #c8452e;

  --success-500: #298441;

  --visited-500: #713776;

  --easing: cubic-bezier(0.17, 0.84, 0.44, 1);

  --page-margin: clamp(16px, calc(40vw / 7.68), 40px);
  @media (max-width: 899px) and (min-width: 600px) {
    --page-margin: clamp(40px, calc(80vw / 7.68), 80px);
  }
}

svg {
  max-width: 100%;
  display: block;
  height: auto;
}
canvas {
  touch-action: pan-y;
}
a {
  text-decoration: none;
  color: inherit;
}
label {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
::placeholder {
  color: inherit;
}
sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}
ul,
ol {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
picture,
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid var(--secondary-700, #0c2d63);
  outline-offset: 3px;
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 123px;
}
body {
  overflow: clip;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  background: var(--background-100, #fffcf9);
  color: var(--secondary-700, #0c2d63);
  font-family: 'Fixel', sans-serif;
  font-size: 1rem;
  line-height: 158%;
  letter-spacing: -0.005em;
}

main,
.max-width {
  max-width: calc(1380rem / 16);
  width: calc(100% - var(--page-margin) * 2);
  margin: 0 auto;
  height: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  font-weight: 400;
  line-height: 120%;
  color: var(--secondary-700, #0c2d63);
  font-variant-numeric: lining-nums tabular-nums;
  strong {
    font-weight: 600;
  }
}
h1,
.h1 {
  font-size: clamp(calc(28rem / 16), calc(40vw / 7.68), calc(40rem / 16));
  letter-spacing: -0.06em;
}
h2,
.h2,
h3,
.h3 {
  font-size: clamp(calc(24rem / 16), calc(32vw / 7.68), calc(32rem / 16));
  letter-spacing: -0.04em;
}

.link {
  line-height: normal;
  text-decoration: underline;
  transition: color 0.5s;
  text-underline-offset: 5px;
  &:hover {
    color: var(--primary-700);
    &::after {
      transform: translate(1px, -1px);
    }
  }
  &[target='_blank'] {
    &::after {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNyIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjMUNCNkFBIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im00LjMzMyAxMS43ODggNy4zMzQtNy4zMzNtMCAwaC02bTYgMHY2Ii8+PC9zdmc+');
      display: inline-block;
      margin-left: 4px;
      vertical-align: middle;
      transition: transform 0.3s var(--easing);
    }
  }
}

.sec-wo-margin {
  margin-left: calc(var(--page-margin) * -1);
  margin-right: calc(var(--page-margin) * -1);
  @media (min-width: calc(1380rem / 16)) {
    margin-left: calc((100vw - calc(1300rem / 16)) / -2);
    margin-right: calc((100vw - calc(1300rem / 16)) / -2);
  }
}

.ordered-list,
.unordered-list {
  display: grid;
  gap: 8px;
}
.unordered-list {
  li {
    padding-left: 18px;
    position: relative;
    &::before {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMyIgZmlsbD0iIzBGOTI4OCI+PHBhdGggZD0iTTUgLjgwMmMtLjM2NSAwLS42NDcuMTUyLS45MDQuMzg1LS4yMzUuMjE0LS40NzcuNTIzLS43NjIuODg2bC0uMDIuMDI1Yy0uNTgzLjc0My0xLjI0OCAxLjY2My0xLjc2OSAyLjU4NC0uNTEyLjkwNy0uOTIgMS44NzMtLjkyIDIuNjkzIDAgMi41NTggMS45MzMgNC42OCA0LjM3NSA0LjY4czQuMzc1LTIuMTIyIDQuMzc1LTQuNjhjMC0uODItLjQwOC0xLjc4Ni0uOTItMi42OTMtLjUyMS0uOTIxLTEuMTg2LTEuODQtMS43Ny0yLjU4NGwtLjAxOS0uMDI1Yy0uMjg1LS4zNjMtLjUyNy0uNjcyLS43NjItLjg4NkM1LjY0Ny45NTQgNS4zNjQuODAyIDUgLjgwMloiLz48L3N2Zz4=');
      width: 10px;
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}
.ordered-list {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.cta-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(calc(12rem / 16), calc(16vw / 7.68), 1rem);
}
